 body{
    background-image: url("bg4.png");
} 

input[type=name]{
      width: 200px;
  }

input[type=gruesse] {
    width: 400px;
    padding: 60 0 60 0;
    margin: 10 0;
    box-sizing: border-box;
  }

 
 
section{
    height: 400px;
    width: 600px;
    margin-top: 300px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position:relative;
}

form{
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: inside;
    position: absolute;
    color: white;
}



