body{
    font-family: sans-serif;
    font-size: medium;
}
body{
    background-image: url(/bg.png);
}

/*header part*/

header{
    background: maroon;
height: 300px;
width: 600px;
border-radius: 0px 0px 300px 300px;
margin: auto;
z-index: -100;
top: 0;
}


header h1{
    text-align: center;
    color:whitesmoke;
    padding-top: 0;
    margin-top: 0;
    
}


header .HD{
    letter-spacing: 5px;
    font-size: 85px;
    position: absolute;
    text-transform: lowercase;
    padding: 30px 0px 0px 40px;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

.myname{
    color: whitesmoke;
    position: absolute;
    margin-top: 130px;
    margin-left: 210px;
    font-size: 40px;
    font-weight: bold;
    text-transform: lowercase;

}

header nav{
    position: fixed;
    margin-left: 400px;
    top: 0;
    z-index: 100;
    
}

header .current a{
    color: maroon;
    font-weight: bolder;
}

header a:hover{
    color: maroon;
    font-weight: bolder;
}

ul{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;  
}
ul li{
    display: inline;
    margin: 0 ;
}

.FB{
    position: absolute;
    margin-top: 180px;
    margin-left: 210px;
}

.FB:hover{
    color: white;
    opacity: 0.5;
    font-weight: bolder;
    
}
#FBTEXT{
    font-size: 50px;
}
/*main*/
.text{
    text-transform: uppercase;
    text-align: center;
    color: maroon;
    font-weight: bolder;
    margin-top: 30px;
}
.contactform{
    text-align: center;
}
 .contactheader{
     font-size: 30px;
     font-weight: bolder;
     text-transform: uppercase;
     color: maroon;
 }

 input{
     border: lightgray;
     background-color: lightgray;
     font-weight: bolder;
     width: 180px;
     box-sizing: border-box;
     
 }
 ::placeholder{
     color: white;
 }
textarea{
  
    border: none;
    background-color: lightgray;
    width: 180px;
    resize: vertical;
}

.pp{
    font-size: x-small;
    text-align: center;
    color: maroon;
}

button{
    width: 180px;
    background-color: lightgray;
    border: none;
    color: white;
    font-weight: bolder;
}

.images{
text-align: center;
}
img{
    margin-top: 20px;
    
}

.pexeltext{
    color: maroon;
    font-weight: lighter;
}

.pexel{
    text-decoration: none;
    color: maroon;
}

/* footer*/

footer{
    background-color: maroon;
    color: whitesmoke;
    text-align: center;
    margin-top: 150px;
    border: maroon solid 15px;

}
